

footer{
    width: 98%;
    padding: 20px 1.5%;
    background-color: #303C41;
    float: left;
    margin-top: 60px;
    display: flex;
    align-items: center;
}

footer > img {
    float: left;
    margin-right: 50px;
}

.flutterComps > div {
    display: flex;
    align-items: center;
    float: left;
}

.flutterComps > div > p{
    color: white;
    margin: 0 5px;
}

.flutterComps .licenses {
    color: white;
    font-size: 10px;
    line-height: 1.5;
    margin-top: 40px;
}